body {
    background-color: rgb(252, 134, 65);
}

h1 {
    background-color: darkred;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    width: 35%;
}

img:hover {
    background-color: brown;
    border-radius: 10px;
}

.pizza1 {
    background-color: crimson;
    border-radius: 10px;
}

.pizza2 {
    background-color: darkred;
    border-radius: 10px;
}